.window-od-delete {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $background-color;

  color: $text-color;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  padding: 30px;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__button {
    height: 40px;
    min-width: 110px;
    background-color: $button-green;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
  }
}
